bg-news-lg @ https://huggingface.co/sakelariev/bg_news_lg/resolve/main/bg_news_lg-3.5.4-py3-none-any.whl
fastapi
joblib
numpy
path
pathlib-abc
pydantic
PyYAML
requests
rich
scikit-learn
scipy
spacy
typer
gunicorn
uvicorn